{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ base_path }}/">
          {{ site.title }}
        </a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>
                {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
                {{ link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>
